<div class="card text-white bg-primary mb-3">
    <div class="card-header">
        Current Weather in <span>{{ cardData.city }}</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <span>{{ cardData.temp }}</span> &deg;
        </h5>
        <p class="card-text">
            <span>{{ cardData.tempName }}</span>
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <strong>Feels like: </strong>
            <span>{{ cardData.feelsLike }}</span> &deg;C
        </li>
        <li class="list-group-item">
            <strong>Humidity: </strong> <span>{{ cardData.humidity }}</span
            >%
        </li>
        <li class="list-group-item">
            <strong>Pressure: </strong> <span>{{ cardData.pressure }}</span> hPa
        </li>
        <li class="list-group-item">
            <strong>Wind Speed: </strong>
            <span>{{ cardData.windSpeed }}</span> km/h
        </li>
        <li class="list-group-item">
            <strong>Wind Direction: </strong>
            <span>{{ cardData.windDirection }}</span>
        </li>
    </ul>
</div>
