<div>
    <h2 *ngIf="forecastData.length > 1" class="mb-2">
        Forecast for 4 days in {{ cityName }}
    </h2>
    <div
        class="mb-5 bg-info py-4 px-1 rounded"
        *ngFor="let cards of forecastData"
    >
        <h3 class="text-center mb-3 text-light">
            {{ cards[0].date * 1000 | date : "dd.MM.YYYY" }}
        </h3>
        <carousel
            [showIndicators]="false"
            [itemsPerSlide]="4"
            [singleSlideOffset]="false"
            [interval]="0"
            [indicatorsByChunk]="true"
            class="mb-5"
        >
            <slide *ngFor="let card of cards">
                <li class="card" style="width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title">
                            Time: {{ card.date * 1000 | date : "HH" }}:00 h
                        </h5>
                        <p class="card-text">{{ card.tempName }}</p>
                        <p class="card-text">
                            <strong>Temperature:</strong> {{ card.temp }} &deg;C
                        </p>
                        <p class="card-text">
                            <strong>Feels like:</strong>
                            {{ card.feelsLikeTemp }} &deg;C
                        </p>
                        <p class="card-text">
                            <strong>Minimal temperature:</strong>
                            {{ card.min }} &deg;C
                        </p>
                        <p class="card-text">
                            <strong>Maximum temperature:</strong>
                            {{ card.max }} &deg;C
                        </p>

                        <p class="card-text">
                            <strong>Humidity:</strong> {{ card.humidity }} %
                        </p>
                        <p class="card-text">
                            <strong>Wind:</strong> {{ card.wind }} km/h
                        </p>
                    </div>
                </li>
            </slide>
        </carousel>
    </div>
</div>
