<div class="container">
    <app-input-sity
        #form
        (submitted)="onSubmitForm(form.searchTerm)"
        class="mt-5 container"
    ></app-input-sity>

    <app-loader *ngIf="isLoading"></app-loader>
    <app-wheather-card
        *ngIf="!isLoading && weatherCardData"
        [cardData]="weatherCardData"
        [forecastData]="forecastCardsData"
        (getforecastbutton)="getForecast()"
        [showForecastButton]="forecastCardsData.length < 1"
        class="mt-5 container"
    ></app-wheather-card>
    <div
        *ngIf="!weatherCardData && !isLoading"
        class="mt-5 container fs-1 text-secondary"
    >
        Choose the city to show the weather!
    </div>
</div>

<button
    class="button-92"
    role="button"
    (click)="getWheatherByCurrentPossition()"
>
    Get wheather by current possition
</button>
<app-loader *ngIf="isForecastLoading"></app-loader>
