<div class="container">
    <app-input-city
        #form
        (submitted)="getWeatherByName(form.searchTerm)"
        class="mt-5 container"
    ></app-input-city>

    <app-loader *ngIf="isLoading"></app-loader>
    <app-wheather-card
        *ngIf="!isLoading && weatherCardData"
        [cardData]="weatherCardData"
        (getforecastbutton)="getForecast()"
        [showForecastButton]="forecastCardsData.length < 1"
        class="mt-5 container"
    ></app-wheather-card>
    <div
        *ngIf="!weatherCardData && !isLoading"
        class="mt-5 container fs-1 text-secondary"
    >
        {{ title }}
    </div>
    <app-forecast-card
        [forecastData]="forecastCardsData"
        [title]="weatherCardData?.city"
    ></app-forecast-card>
    <app-loader *ngIf="isForecastLoading"></app-loader>
</div>

<app-chooses-cities-list
    [choosesCities]="choosesCities"
    (deleteAllEvent)="deleteAllChoosesCities()"
    (chooseCityEvent)="chooseThePreviouslyCity($event)"
    (deleteBtnEvent)="deleteItemFromPreviouslyList($event)"
></app-chooses-cities-list>

<app-btn-current-position
    (clickEvent)="getWheatherByCurrentPosition()"
></app-btn-current-position>
